[Unit]
Description=Deamon to poweroff the system when all jobs are done or timed out

[Service]
User=poweroffd
Group=poweroffd
# make sure the run directory is created with the correct permissions
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/run/poweroffd
ExecStartPre=/usr/bin/chown poweroffd:poweroffd /var/run/poweroffd
ExecStartPre=/usr/bin/chmod 775 /var/run/poweroffd
ExecStart=/usr/sbin/poweroffd
EnvironmentFile=-/etc/sysconfig/poweroffd

[Install]
WantedBy=multi-user.target
